@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

body {
  min-height: 100vh;
  overflow: hidden;
}

.custom-cursor {
  position: fixed;
  width: 90px;
  height: 90px;
  background: url("Assets/sword.png") center/contain no-repeat;
  pointer-events: none;
  user-select: none;
  z-index: 99999999;
  transform: scale(1);
  transition: transform 0.15s ease;
}

.custom-cursor.click {
  transform: scale(0.9);
}

.start-screen {
  position: fixed;
  inset: 0;
  background: rgba(6, 6, 6, 0.779);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  cursor: pointer;
  transition:
    opacity 1s ease,
    visibility 1s ease;
}

.start-screen h1 {
  font-family: Manrope, sans-serif;
  font-size: 4rem;
  letter-spacing: 8px;
  color: white;
}

.start-screen.hide {
  opacity: 0;
  visibility: hidden;
}

@keyframes pulse {
  50% {
    opacity: 0.4;
  }
}

.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.website {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  animation: reveal 1.5s ease;
  position: relative;
  z-index: 1;
}

@keyframes reveal {
  from {
    filter: blur(20px);
    transform: scale(1.05);
  }
  to {
    filter: blur(0);
    transform: scale(1);
  }
}

.card {
  width: 850px;
  height: 580px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  position: relative;
  z-index: 2;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.4);
}

.profile-top {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 30px rgba(0, 150, 255, 0.5);
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  50% {
    transform: translateY(-6px);
  }
}

.name {
  font-family: "Manrope", sans-serif;
  font-size: 52px;
  font-weight: 800;
  color: white;
  text-align: center;
  letter-spacing: -1px;
  margin-top: 10px;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.25);
}

.discord-profile {
  width: 85%;
  margin: 40px auto;
  padding: 22px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 25px;
  color: white;
  font-family: "Manrope", sans-serif;
  transition: 0.3s ease;
}

.discord-profile:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.35);
}

.profile-main {
  display: flex;
  align-items: center;
  gap: 22px;
}

.avatar-box {
  position: relative;
}

.avatar-box img {
  width: 105px;
  height: 105px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 30px rgba(0, 150, 255, 0.4);
}

#status-dot {
  position: absolute;
  bottom: 4px;
  right: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid #111;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.display-name {
  font-size: 32px;
  font-weight: 900;
  color: white;
}

.username {
  margin-top: 6px;
  font-size: 20px;
  opacity: 0.65;
}

.server-tag {
  margin-left: 8px;
  padding: 4px 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.15);
  font-size: 18px;
  font-weight: 800;
  opacity: 1;
}

.status-text {
  margin-top: 10px;
  font-size: 18px;
  opacity: 0.8;
}

.spotify-widget {
  position: fixed;
  top: 28px;
  right: 30px;
  width: 340px;
  padding: 18px;
  display: flex;
  align-items: center;
  gap: 16px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 22px;
  color: white;
  font-family: "Manrope", sans-serif;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
  z-index: 20;
  animation: spotify-in 0.8s ease;
}

.spotify-widget img {
  width: 75px;
  height: 75px;
  border-radius: 16px;
  object-fit: cover;

  box-shadow: 0 0 25px rgba(29, 185, 84, 0.5);
}

.spotify-info {
  overflow: hidden;
}

.spotify-label {
  font-size: 11px;
  letter-spacing: 2px;
  opacity: 0.6;
  margin-bottom: 5px;
}

.spotify-title {
  font-size: 17px;
  font-weight: 800;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spotify-artist {
  font-size: 14px;
  opacity: 0.7;
  margin-top: 3px;
}

@keyframes spotify-in {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
